#first{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-align: center;
}

#part1{
    border: 3px solid black;
    text-align: center;
}

#part2{
    border: 3px solid black;
    text-align: left;
}

#Input_Currency{
    position: relative;
    left: -200px;
}

#Output_Currency{
    position: relative;
    left: 90px;
}

#cal{
    background-color: black;
    color: white;
    font-weight: bolder;
}

#to{
    text-align: center;
    color: black
}