table, th, td {
    border: 1px dotted;
  }
  table{
    color: goldenrod;
  }

  a{
    background-color:azure;
    color:black ;
  }

  h1{
    color: brown;
  }

  *{
    background-color:blanchedalmond;
  }